/* CSS code for background video */
#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1; /* Ensure the video stays behind other content */
    object-fit: cover; /* Cover the entire viewport */
}

footer {
    background-color: rgba(0, 0, 0, 0.5); /* Darkened background for better contrast */
    color: white; /* Text color */
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif; /* Font family */
}

/* CSS for horizontal container */
.horizontal-container {
    display: flex;
    overflow-x: auto; /* Enable horizontal scrolling */
    padding: 20px 0; /* Add padding to space out from edges */
    justify-content: center; /* Center-align items */
}

.image-item {
    flex: 0 0 auto; /* Ensure images maintain their original size */
    margin-right: 20px; /* Add space between images */
}

.image-item img {
    height: 234px;
    width: 149px;
    border-radius: 10px; /* Rounded corners for images */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add shadow for depth */
}

.image-title {
    text-align: center;
    margin-top: 10px; /* Increase margin for better spacing */
    font-size: 16px; /* Adjust font size */
}

/* Social Media Icons */
.social-media-icons {
    list-style: none;
    padding: 0;
    margin: 20px 0; /* Add margin for separation */
    text-align: center; /* Center-align icons */
}

.social-media-icons li {
    display: inline;
    margin: 0 15px; /* Add margin between icons */
}

.social-media-icons li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #333; /* Background color for icons */
    line-height: 40px;
    text-align: center;
    color: white; /* Icon color */
    font-size: 20px; /* Icon size */
    transition: background-color 0.3s, transform 0.3s; /* Smooth transition */
}

.social-media-icons li a:hover {
    background-color: #555; /* Darken background on hover */
    transform: translateY(-3px); /* Add slight lift effect on hover */
}

/* Navigation */
nav {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif; /* Adding a font for better readability */
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow for separation */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s; /* Adding a smooth transition for color change */
}

nav ul li a:hover {
    color: red; /* Changing text color to red on hover */
}
