* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #f2f2f2;
}

/* CSS for the logo */
.logo {
  position: absolute;
  top: 20px; /* Adjust as needed */
  left: 20px; /* Adjust as needed */
}

.logo img {
  width: 100px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
}


nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

.search-container,
.signin-container {
  margin-top: 20px;
  text-align: center;
}

.search-container input[type="text"],
.search-container button {
  padding: 10px;
  margin-right: 10px;
}

.search-container button {
  background-color: #333;
  color: #fff;
  border: none;
}

.signin-container a {
  text-decoration: none;
  color: #333;
}

.signin-container span {
  margin: 0 10px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.social-media-icons {
  list-style-type: none;
  padding: 0;
}

.social-media-icons li {
  display: inline;
  margin-right: 10px;
}

.social-media-icons li img {
  width: 25px;
  height: auto;
}
